{% extends 'base.html.twig' %}

{% block body %}
    {% include 'back.html.twig' %}
    <div class="container my-3 my-sm-5">
        <h1 class="text-center mb-3 mb-sm-5">Meet the team</h1>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mb-3">
                <img src="{{ faker.imageUrl(200, 200) }}" class="img-fluid rounded-circle mb-1" alt="Figure image">
                <ul class="list-inline mb-1 pt-3">
                    <li class="list-inline-item small"><a href="#"><i class="fab fa-3x fa-twitter-square"></i></a></li>
                    <li class="list-inline-item small"><a href="#"><i class="fab fa-3x fa-linkedin"></i></a></li>
                </ul>
                <h5>{{ faker.firstName }} <br/> {{ faker.lastName }}</h5>
                <p>{{ faker.title }}</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mb-3">
                <img src="{{ faker.imageUrl(200, 200) }}" class="img-fluid rounded-circle mb-1" alt="Figure image">
                <ul class="list-inline mb-1 pt-3">
                    <li class="list-inline-item small"><a href="#"><i class="fab fa-3x fa-twitter-square"></i></a></li>
                    <li class="list-inline-item small"><a href="#"><i class="fab fa-3x fa-linkedin"></i></a></li>
                </ul>
                <h5>{{ faker.firstName }} <br/> {{ faker.lastName }}</h5>
                <p>{{ faker.title }}</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mb-3">
                <img src="{{ faker.imageUrl(200, 200) }}" class="img-fluid rounded-circle mb-1" alt="Figure image">
                <ul class="list-inline mb-1 pt-3">
                    <li class="list-inline-item small"><a href="#"><i class="fab fa-3x fa-twitter-square"></i></a></li>
                    <li class="list-inline-item small"><a href="#"><i class="fab fa-3x fa-linkedin"></i></a></li>
                </ul>
                <h5>{{ faker.firstName }} <br/> {{ faker.lastName }}</h5>
                <p>{{ faker.title }}</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mb-3">
                <img src="{{ faker.imageUrl(200, 200) }}" class="img-fluid rounded-circle mb-1" alt="Figure image">
                <ul class="list-inline mb-1 pt-3">
                    <li class="list-inline-item small"><a href="#"><i class="fab fa-3x fa-twitter-square"></i></a></li>
                    <li class="list-inline-item small"><a href="#"><i class="fab fa-3x fa-linkedin"></i></a></li>
                </ul>
                <h5>{{ faker.firstName }} <br/> {{ faker.lastName }}</h5>
                <p>{{ faker.title }}</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mb-3">
                <img src="{{ faker.imageUrl(200, 200) }}" class="img-fluid rounded-circle mb-1" alt="Figure image">
                <ul class="list-inline mb-1 pt-3">
                    <li class="list-inline-item small"><a href="#"><i class="fab fa-3x fa-twitter-square"></i></a></li>
                    <li class="list-inline-item small"><a href="#"><i class="fab fa-3x fa-linkedin"></i></a></li>
                </ul>
                <h5>{{ faker.firstName }} <br/> {{ faker.lastName }}</h5>
                <p>{{ faker.title }}</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mb-3">
                <img src="{{ faker.imageUrl(200, 200) }}" class="img-fluid rounded-circle mb-1" alt="Figure image">
                <ul class="list-inline mb-1 pt-3">
                    <li class="list-inline-item small"><a href="#"><i class="fab fa-3x fa-twitter-square"></i></a></li>
                    <li class="list-inline-item small"><a href="#"><i class="fab fa-3x fa-linkedin"></i></a></li>
                </ul>
                <h5>{{ faker.firstName }} <br/> {{ faker.lastName }}</h5>
                <p>{{ faker.title }}</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mb-3">
                <img src="{{ faker.imageUrl(200, 200) }}" class="img-fluid rounded-circle mb-1" alt="Figure image">
                <ul class="list-inline mb-1 pt-3">
                    <li class="list-inline-item small"><a href="#"><i class="fab fa-3x fa-twitter-square"></i></a></li>
                    <li class="list-inline-item small"><a href="#"><i class="fab fa-3x fa-linkedin"></i></a></li>
                </ul>
                <h5>{{ faker.firstName }} <br/> {{ faker.lastName }}</h5>
                <p>{{ faker.title }}</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mb-3">
                <img src="{{ faker.imageUrl(200, 200) }}" class="img-fluid rounded-circle mb-1" alt="Figure image">
                <ul class="list-inline mb-1 pt-3">
                    <li class="list-inline-item small"><a href="#"><i class="fab fa-3x fa-twitter-square"></i></a></li>
                    <li class="list-inline-item small"><a href="#"><i class="fab fa-3x fa-linkedin"></i></a></li>
                </ul>
                <h5>{{ faker.firstName }} <br/> {{ faker.lastName }}</h5>
                <p>{{ faker.title }}</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mb-3">
                <img src="{{ faker.imageUrl(200, 200) }}" class="img-fluid rounded-circle mb-1" alt="Figure image">
                <ul class="list-inline mb-1 pt-3">
                    <li class="list-inline-item small"><a href="#"><i class="fab fa-3x fa-twitter-square"></i></a></li>
                    <li class="list-inline-item small"><a href="#"><i class="fab fa-3x fa-linkedin"></i></a></li>
                </ul>
                <h5>{{ faker.firstName }} <br/> {{ faker.lastName }}</h5>
                <p>{{ faker.title }}</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mb-3">
                <img src="{{ faker.imageUrl(200, 200) }}" class="img-fluid rounded-circle mb-1" alt="Figure image">
                <ul class="list-inline mb-1 pt-3">
                    <li class="list-inline-item small"><a href="#"><i class="fab fa-3x fa-twitter-square"></i></a></li>
                    <li class="list-inline-item small"><a href="#"><i class="fab fa-3x fa-linkedin"></i></a></li>
                </ul>
                <h5>{{ faker.firstName }} <br/> {{ faker.lastName }}</h5>
                <p>{{ faker.title }}</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mb-3">
                <img src="{{ faker.imageUrl(200, 200) }}" class="img-fluid rounded-circle mb-1" alt="Figure image">
                <ul class="list-inline mb-1 pt-3">
                    <li class="list-inline-item small"><a href="#"><i class="fab fa-3x fa-twitter-square"></i></a></li>
                    <li class="list-inline-item small"><a href="#"><i class="fab fa-3x fa-linkedin"></i></a></li>
                </ul>
                <h5>{{ faker.firstName }} <br/> {{ faker.firstName }} <br/></h5>
                <p>{{ faker.title }}</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mb-3">
                <img src="{{ faker.imageUrl(200, 200) }}" class="img-fluid rounded-circle mb-1" alt="Figure image">
                <ul class="list-inline mb-1 pt-3">
                    <li class="list-inline-item small"><a href="#"><i class="fab fa-3x fa-twitter-square"></i></a></li>
                    <li class="list-inline-item small"><a href="#"><i class="fab fa-3x fa-linkedin"></i></a></li>
                </ul>
                <h5>{{ faker.firstName }} <br/> {{ faker.firstName }} <br/></h5>
                <p>{{ faker.title }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://kit.fontawesome.com/8bffc204cc.js" crossorigin="anonymous"></script>
{% endblock %}