{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container my-3 my-sm-5">
        <h1 class="text-center mb-3 mb-sm-5">Frequently asked questions</h1>
        <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card my-1">
                <div class="card-header" role="tab" id="questionOne">
                    <h5 class="mb-0"><a href="#collapseOne" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseOne">{{ faker.sentence }}</a></h5>
                </div>
                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="questionOne">
                    <div class="card-block p-3 text-justify">{{ faker.text(500) }}</div>
                </div>
            </div>
            <div class="card my-1">
                <div class="card-header" role="tab" id="questionTwo">
                    <h5 class="mb-0"><a href="#collapseTwo" class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseTwo">{{ faker.sentence }}</a></h5>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="questionTwo">
                    <div class="card-block p-3 text-justify">{{ faker.text(500) }}</div>
                </div>
            </div>
            <div class="card my-1">
                <div class="card-header" role="tab" id="questionThree">
                    <h5 class="mb-0"><a href="#collapseThree" class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseThree">{{ faker.sentence }}</a></h5>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="questionThree">
                    <div class="card-block p-3 text-justify">{{ faker.text(500) }}</div>
                </div>
            </div>
            <div class="card my-1">
                <div class="card-header" role="tab" id="questionFour">
                    <h5 class="mb-0"><a href="#collapseFour" class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseFour">{{ faker.sentence }}</a></h5>
                </div>
                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="questionFour">
                    <div class="card-block p-3 text-justify">{{ faker.text(500) }}</div>
                </div>
            </div>
            <div class="card my-1">
                <div class="card-header" role="tab" id="questionFive">
                    <h5 class="mb-0"><a href="#collapseFive" class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseFive">{{ faker.sentence }}</a></h5>
                </div>
                <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="questionFive">
                    <div class="card-block p-3 text-justify">{{ faker.text(500) }}</div>
                </div>
            </div>
            <div class="card my-1">
                <div class="card-header" role="tab" id="questionSix">
                    <h5 class="mb-0"><a href="#collapseSix" class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseSix">{{ faker.sentence }}</a></h5>
                </div>
                <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="questionSix">
                    <div class="card-block p-3 text-justify">{{ faker.text(500) }}</div>
                </div>
            </div>
            <div class="card my-1">
                <div class="card-header" role="tab" id="questionSeven">
                    <h5 class="mb-0"><a href="#collapseSeven" class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseSeven">{{ faker.sentence }}</a></h5>
                </div>
                <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="questionSeven">
                    <div class="card-block p-3 text-justify">{{ faker.text(500) }}</div>
                </div>
            </div>
            <div class="card my-1">
                <div class="card-header" role="tab" id="questionEight">
                    <h5 class="mb-0"><a href="#collapseEight" class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseEight">{{ faker.sentence }}</a></h5>
                </div>
                <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="questionEight">
                    <div class="card-block p-3 text-justify">{{ faker.text(500) }}</div>
                </div>
            </div>
            <div class="card my-1">
                <div class="card-header" role="tab" id="questionNine">
                    <h5 class="mb-0"><a href="#collapseNine" class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseNine">{{ faker.sentence }}</a></h5>
                </div>
                <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="questionNine">
                    <div class="card-block p-3 text-justify">{{ faker.text(500) }}</div>
                </div>
            </div>
            <div class="card my-1">
                <div class="card-header" role="tab" id="questionTen">
                    <h5 class="mb-0"><a href="#collapseTen" class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseTen">{{ faker.sentence }}</a></h5>
                </div>
                <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="questionTen">
                    <div class="card-block p-3 text-justify">{{ faker.text(500) }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{%  block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    {{ parent() }}
{% endblock %}