{% extends 'base.html.twig' %}

{% block body %}
    {% include 'back.html.twig' %}

    <div class="container my-3 my-sm-5">
        <h1 class="mb-sm-4 text-center">Gallery title</h1>
        <p class="lead">{{ faker.text }}</p>

        <nav aria-label="Serach result pages">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a href='#' class="page-link">Previous</a></li>
                <li class="page-item active"><a href='#' class="page-link">1 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a href='#' class="page-link">2</a></li>
                <li class="page-item"><a href='#' class="page-link">3</a></li>
                <li class="page-item"><a href='#' class="page-link">Next</a></li>
            </ul>
        </nav>

        <div class="row">
            {% for i in 0..11 %}
                <div class="col-12 col-md-6 col-lg-4">
                    <figure class="figure">
                        <a href="#">
                            <img src="{{ faker.imageUrl(600, 450) }}" class="figure-img img-fluid img-thumbnail"
                                 alt="{{ faker.sentence }}"/>
                        </a>
                        <figcaption class="figure-caption">
                            <h6>{{ faker.name }}<small class="float-right">({{ faker.date }})</small></h6>
                            <p>{{ faker.text }}</p>
                        </figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>

        <nav aria-label="Serach result pages">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a href='#' class="page-link">Previous</a></li>
                <li class="page-item active"><a href='#' class="page-link">1 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a href='#' class="page-link">2</a></li>
                <li class="page-item"><a href='#' class="page-link">3</a></li>
                <li class="page-item"><a href='#' class="page-link">Next</a></li>
            </ul>
        </nav>
    </div>

{% endblock %}