{% extends 'business/business.html.twig' %}

{% block content %}
    <div class="container my-3 my-sm-5">
        <h2 class="text-center mb-sm-4">Our services</h2>
        <div class="row mb-4 flex-row-reverse align-items-center">
            <div class="col-12 col-md-6 mb-3 mb-md-0">
                <img src="{{ faker.imageUrl(600, 450) }}" class="img-fluid">
            </div>
            <div class="col-12 col-md-6">
                <p>{{ faker.realText(500) }}</p>
                <button type="button" class="btn btn-primary">Read more</button>
            </div>
        </div>
        <hr class="mb-4">
        <div class="row mb-4 align-items-center">
            <div class="col-12 col-md-6 mb-3 mb-md-0">
                <img src="{{ faker.imageUrl(600, 450) }}" class="img-fluid">
            </div>
            <div class="col-12 col-md-6">
                <p>{{ faker.realText(500) }}</p>
                <button type="button" class="btn btn-primary">Read more</button>
            </div>
        </div>
        <hr class="mb-4">
        <div class="row mb-4 flex-row-reverse align-items-center">
            <div class="col-12 col-md-6 mb-3 mb-md-0">
                <img src="{{ faker.imageUrl(600, 450) }}" class="img-fluid">
            </div>
            <div class="col-12 col-md-6">
                <p>{{ faker.realText(500) }}</p>
                <button type="button" class="btn btn-primary">Read more</button>
            </div>
        </div>
        <hr class="mb-4">
        <div class="row mb-4 align-items-center">
            <div class="col-12 col-md-6 mb-3 mb-md-0">
                <img src="{{ faker.imageUrl(600, 450) }}" class="img-fluid">
            </div>
            <div class="col-12 col-md-6">
                <p>{{ faker.realText(500) }}</p>
                <button type="button" class="btn btn-primary">Read more</button>
            </div>
        </div>
    </div>
{% endblock %}