{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <h1><a href="{{ path('pages.faq.index') }}" class="navbar-brand"><img src="{{ faker.imageUrl(40, 40) }}" alt="Brand Logo" class="mr-2"> Knowledge Base</a></h1>
            <div class="dropdown">
                <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">English</button>
                <div class="dropdown-menu" aria-labelledby="dropdownLanguage">
                    <a href="https://companyname.com/language" class="dropdown-item">Language</a>
                    <a href="https://companyname.com/language" class="dropdown-item">Language</a>
                    <a href="https://companyname.com/language" class="dropdown-item">Language</a>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <footer class="small bg-light">
        <div class="container py-3 py-sm-5 text-center">
            <img src="{{ faker.imageUrl(120, 40) }}" alt="Brand logo" class="mb-2 mb-sm-4">
            <p class="mb-2 mb-sm-4">&copy; {{ "now"|date('Y') }} Brand Name. All Rights Reserved.</p>
            <ul class="list-inline mb-0">
                <li class="list-inline-item"><a href="#0">Brand Name</a></li>
                <li class="list-inline-item"><a href="#0">Tutorials</a></li>
                <li class="list-inline-item"><a href="#0">Blog</a></li>
                <li class="list-inline-item"><a href="#0">Contact</a></li>
            </ul>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/smooth-scroll.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            var scroll = new SmoothScroll('a[href*="#"]');
        })
    </script>
{% endblock %}