{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4">Templates</h1>
                <ul>
                    <li><a href="{{ path('templates.photo.gallery') }}">Photo gallery</a></li>
                    <li><a href="{{ path('templates.video.gallery') }}">Video gallery</a></li>
                    <li><a href="{{ path('templates.mixed.gallery') }}">Mixed gallery</a></li>
                    <li><a href="{{ path('templates.login') }}">Login</a></li>
                    <li><a href="{{ path('templates.contact') }}">Contact</a></li>
                    <li><a href="{{ path('templates.footer') }}">Footer</a></li>
                    <li><a href="{{ path('templates.sitemap') }}">Sitemap</a></li>
                    <li><a href="{{ path('templates.faq') }}">FAQ</a></li>
                    <li><a href="{{ path('templates.thanks') }}">Thank you</a></li>
                    <li><a href="{{ path('templates.pricing') }}">Pricing</a></li>
                    <li><a href="{{ path('templates.employees') }}">Employees</a></li>
                    <li><a href="{{ path('templates.create.account') }}">Create account</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}