{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron mt-5">
                    <p class="text-justify">Those are my sample bootstrap 4 project. Mostly done for training but I
                        often use them as foundaments to
                        create more advanced projects.</p>
                    <p class="text-right"> -- Grzegab</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 offset-md-2">
                <h1 class="display-4">Templates</h1>
                <ul>
                    <li><a href="{{ path('templates.photo.gallery') }}">Photo gallery</a></li>
                    <li><a href="{{ path('templates.video.gallery') }}">Video gallery</a></li>
                    <li><a href="{{ path('templates.mixed.gallery') }}">Mixed gallery</a></li>
                    <li><a href="{{ path('templates.login') }}">Login</a></li>
                    <li><a href="{{ path('templates.contact') }}">Contact</a></li>
                    <li><a href="{{ path('templates.footer') }}">Footer</a></li>
                    <li><a href="{{ path('templates.sitemap') }}">Sitemap</a></li>
                    <li><a href="{{ path('templates.faq') }}">FAQ</a></li>
                    <li><a href="{{ path('templates.thanks') }}">Thank you</a></li>
                    <li><a href="{{ path('templates.pricing') }}">Pricing</a></li>
                    <li><a href="{{ path('templates.employees') }}">Employees</a></li>
                    <li><a href="{{ path('templates.create.account') }}">Create account</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4 offset-md-2">
                <h1 class="display-4">Pages</h1>
                <ul>
                    <li><a target="_blank" href="{{ path('pages.blog.index') }}">Blog</a></li>
                    <li><a target="_blank" href="{{ path('pages.business.index') }}">Business page</a></li>
                    <li><a target="_blank" href="{{ path('pages.faq.index') }}">F.A.Q</a></li>
                    <li><a target="_blank" href="{{ path('pages.forum.index') }}">Forum</a></li>
                    <li><a target="_blank" href="{{ path('pages.landing.index') }}">Landing page</a></li>
                    <li><a target="_blank" href="{{ path('pages.resume.index') }}">Resume</a></li>
                    <li><a target="_blank" href="{{ path('pages.survey.index') }}">Survey</a></li>
                    <li><a target="_blank" href="{{ path('pages.admin.index') }}">Admin pages</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}